<!-- <table>
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let col of columns">{{ row[col] }}</td>
    </tr>
  </tbody>
</table> -->
<div class="border border-gray-300 p-5 rounded-md m-20">
  <app-table
    *ngIf="tableConfig && tableData"
    [tableConfig]="tableConfig"
    [tableData]="tableData"
    (queryParamsEmitter)="executeQueryParamsChange($event)"
    (refreshEmitter)="executeRefresh($event)"
    (resetEmitter)="executeReset($event)"
  >
  </app-table>
</div>
<!-- Go Back Button -->
<button
  (click)="goBack()"
  class="mt-4 bg-blue-500 text-white py-2 px-4 rounded"
>
  Go Back
</button>
