:host ::ng-deep .ant-table th {
  background-color: #fafcfe;
  padding: 8px 8px;
}

:host ::ng-deep .ant-table .ant-table-tbody > tr > td {
  padding: 5px 8px;
}

:host ::ng-deep .ant-table tr:nth-child(odd) td {
  background-color: #fafcfe;
}

:host ::ng-deep .ant-table-pagination.ant-pagination {
  margin: 16px;
}

:host ::ng-deep .ant-divider-horizontal {
  margin: 0px;
}
